* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#hidden {
  display: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.table {
  background-image: url("imgs/table.jpg");
  margin: auto;
  padding: 30rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end-game {
  font-size: 8rem;
  text-align: center;
  margin: auto;
  padding: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.computer,
.human {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  width: 20%;
  margin: 7rem 0;
}

/* .player-win {
  position: absolute;
  background-color: red;
  margin: auto;

} */

#player-score,
#cpu-score {
  border: 10px red solid;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding: 2rem;
  border-radius: 10px;
}
